@import 
url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700& display=swap');

*{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 36px; 
    color: #003785; 
    text-align: center; 
    margin: 20px 0; 
    font-weight: bold; 
    font-family: Georgia, serif;
}

h2 {
    color: #003785;
    position: inline-block;
    font-family: 'Times New Roman', serif;
}

h3 {
    color: #003785;
}


.linkedin-icon{
    width: 15px;
    height: 15px;
}

header{
    height: 75px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: #003785;
    letter-spacing: .2rem;
    color: var(--lightblue);
    z-index: 1000;
}

header h1{
    font-size: 25px;
    position: center;
    color: #ffffff;
}
nav {
    width: 50%;
}

.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-size: 1.5rem;
    width: 100%;   
}

nav a{
    text-decoration: none;
    color: white
}
nav a:hover {
    display: block;
    background-color: #2eb3c550 
}

section{
    padding: 0 5%;
    flex-wrap: wrap;
    min-height: 50vh;
    align-items: center;
    margin-bottom: 2rem;
}
#informacion-personal{
    margin: 10px;
    padding: 10px;
    text-align: justify;
}



#informacion-personal .informacion{
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
}

#informacion-personal .imagen-curriculum{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 50%;  
}
#informacion-personal .imgcv{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid #f2f2f2;
}

#informacion-personal .imgcv:hover {
    border-color: #003785; 
}

#informacion-personal .detalles-contacto{
    flex: 2; 
    padding: 20px;   
}

#formacion .iframe-wrapper{
    width: 50%;
    height: 40vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#formacion .iframe-wrapper>iframe{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}


#formacion{
    margin: 10px;
    padding: 10px;
}

#formacion .info-formacion{
    display: flex;
    width: 100%;
}

#formacion .container-info {
    display: flex;
    flex-direction: column;
    width:50%;
    gap: 3rem 0;
    list-style-type: none;
}

#formacion .container-info h3{   
    color: #1465bb; 
    text-align: center;
}

#formacion .container-info p{   
    text-align: center;
}
#cursos{
    padding: 30px;
    width: 100%;
}

#cursos .p-icon{
    width: 30px;
    height: 30px;
}
#cursos .content-table1{
    border-collapse: collapse; 
    margin: 0 auto; 
    font-size: 1em;  
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

#cursos .content-table1 thead tr { 
    background-color: #003785; 
    color: #ffffff; 
    text-align: middle; 
}

#cursos .content-table1 th, .content-table1 td { 
    padding: 12px 15px;
    text-align: center;
}

#cursos .content-table1 tbody tr { 
    border-bottom: 1px solid #dddddd; 
} 

#cursos .content-table1 tbody tr:nth-of-type(even) { 
    background-color: #f3f3f3; 
} 

#cursos .content-table1 tbody tr:last-of-type { 
    border-bottom: 2px solid #003785; 
}

#proyectos{
    padding: 20px;
    width: 100%;
}
#proyectos .p-icon{
    width: 30px;
    height: 30px;
}

#proyectos .content-table1{
    border-collapse: collapse; 
    margin: 0 auto; 
    font-size: 1em;  
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

#proyectos .content-table1 thead tr { 
    background-color: #003785; 
    color: #ffffff; 
    text-align: middle; 
}

#proyectos .content-table1 th, .content-table1 td { 
    padding: 12px 15px;
    text-align: center;
}

#proyectos .content-table1 tbody tr { 
    border-bottom: 1px solid #dddddd; 
} 

#proyectos .content-table1 tbody tr:nth-of-type(even) { 
    background-color: #f3f3f3; 
} 

#proyectos .content-table1 tbody tr:last-of-type { 
    border-bottom: 2px solid #003785; 
}

#habilidades{
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    width: 100%;
}

#habilidades .habilidadesti{
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f2f2f2;
    width: 100%; 
    padding: 3%;
}

#habilidades .subtitulohab{
    flex-grow: 1;
    
}
#habilidades .subtitulohabb{
    flex-grow: 1;
}
#habilidades .habilidadestecnicas{
    flex-grow: 1;
}
#habilidades .habilidadesBlandas{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
}


#contacto{
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
    background-color: #003785;
    justify-content: center; 
    align-items: center;
    top: 0; 
}

#contacto h2{
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
#contacto .form-contact{
    display: flex;
    flex-direction: column;
    width:50%;
    gap: 3rem 0;
    list-style-type: none;
}

#contacto .contact-icon p{
    color: white;
}
#contacto .contact-icon>p{
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 0.5rem;
    align-items: stretch;
    padding: 10px;
    text-decoration: none;   
}

#contacto .formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#contacto .formulario>input, 
#contacto .formulario>textarea,
#contacto .formulario>label{
    width: 50%;
    margin: .5rem 0;
    border-radius: 5px;
    padding: 3px;
    resize: none;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    background-color: transparent;
    color: var(--white);
    
}

#contacto .formulario>input,
#contacto .formulario>textarea{
    border: 1pt solid var(--lightblue);
    background-color:white;   
}

#contacto .formulario>button{
    min-width: 15%;
    line-height: 1.5rem;
    border-radius: 5px;
    background-color: white;
    color: var(--white);
    cursor: pointer;
    letter-spacing: 0.1rem;
    border: 1pt solid white;
}

#contacto .formulario>button:hover{
    background-color: var(--white);
    color: yellow;
}


footer {
    background-color: #003785; /* Color de fondo del footer */
    color: #fff; /* Color de texto */
    text-align: center;
    padding: 20px 0; /* Espaciado interior arriba y abajo */
    width: 100%;
}
