/*tipografía roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700& display=swap');
/*tipografía montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
    font-weight: bold; 
}

:root{
    --fondo  : #f2f7f5; /*fondo*/
    --color1 : #003785; /*color primario*/
    --color2 : #ffffff;
    --color3 : #070047;
    --color4 : #ebe8ea;
    --color5 : #f8f5f2;
    --color6 : #fffffe; 
    --color7 : #475d5b;
    --color8 : #000000c0;
}

body{
    background-color: var(--fondo);
    color: var(--color7);
}

header{
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color:var(--color1);
    letter-spacing: .2rem;
    z-index: 1000;
}

nav {
    width: 50%;
}


.menu{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    font-size: 1rem;
}

.menu a {
    font-size: 24px;
    text-decoration:none;
    color: var(--color2);
}

nav i:hover {
    display: flex;
    color: var(--color8); 
}

.titulo {
    font-weight: bold; 
    font-family: 'Montserrat', sans-serif;
    color: var(--color2);
}

main{
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 10;
}

.subtitulo{
    color:var(--color1);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

section{
    padding: 0 3%;
    flex-wrap: wrap;
    min-height: 50vh;
    align-items: center;
}

section>h2{
    width: 100%;
    text-align: center;
}

.section-info{
    flex: 1 0 50%;
    display: grid;
    place-items: center;
    gap: 2rem 0;
}

/* --- Información personal ---*/

#informacion-personal{
    flex-basis: 90%;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

#informacion-personal .informacion{
    background-color: var(--color6);
    padding: 20px;
}

#informacion-personal .imagen-curriculum, .detalles-contacto{
    flex-basis: 49%;
    flex-grow: 1;    
}
.personal-img-wrapper>img{
    width: 50%;
    object-fit: cover;
    mix-blend-mode:difference;
}

#informacion-personal .imgcv{
    border-radius: 50%;
    width: 225px;
    height: 225px;
    border: 2px solid var(--color1);
    box-shadow: 0 0 2.5px var(--color1);
}

#informacion-personal .imgcv:hover {
    border-color: var(--color1); 
}



/* --- Formación ---*/
#formacion{
    flex-basis: 90%;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
}

#formacion .info-formacion{
    flex-basis: 90%;
    flex-grow: 1;
}
#formacion .container-info {
    flex-basis: 49%;
    flex-grow: 1;
    width:50%;
    gap: 3rem 0;
    list-style-type: none;
    margin: 20px;
}

#formacion .container-info h3{   
    font-size: 1.5em;
    color: var(--color3); 
    text-align: center;
    font-weight: bold;
}

#formacion .container-info p{   
    text-align: center;
    font-size: .9em;
    color: var(--color7);
}

#formacion .iframe-wrapper{
    flex-basis: 49%;
    flex-grow: 1;
    height: 40vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#formacion .iframe-wrapper>iframe{
    height: 40vh;
    object-fit: cover;
}




/* --- Cursos y Proyectos ---*/

table{
    overflow: auto;
}

#cursos, #proyectos{
    flex-basis: 90%;
    flex-grow: 1;
    padding: 30px;
    width: 100%;
}

.content-table1{
    border-collapse: collapse; 
    margin: 0 auto; 
    font-size: 1em;  
    width: 100%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

.content-table1 thead tr { 
    background-color: var(--color1); 
    color: var(--color2); 
}

.content-table1 th, .content-table1 td { 
    padding: 12px 15px;
    text-align: center;
}

.content-table1 tbody tr { 
    border-bottom: 1px solid #dddddd; 
} 

.content-table1 tbody tr:nth-of-type(even) { 
    background-color: var(--color2); 
} 

.content-table1 tbody tr:last-of-type { 
    border-bottom: 2px solid var(--color1); 
}

/* --- habilidades ---*/

#habilidades {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    text-align: center;
    margin: 3px;
    width: 100%;
}

#habilidades .habilidadesti {
    display: flex;
    background-color: var(--color6); 
    padding: 20px;
    margin-top: 20px;
}

#habilidades .habilidadestecnicas, .habilidadesBlandas,ul {
    flex-basis: 49%; 
    flex-grow: 1;
    list-style-type: none;
    justify-content: center; 
    align-items: center;

}

#habilidades .subtitulohab, .subtitulohabb {
    color: var(--color3);
    margin-bottom: 10px;
}

 /*---contacto---*/
 #contacto {
    display: flex;
    flex-direction: column; 
    row-gap: 1rem;
    column-gap: 0.5rem;
    width: 100%;
    background-color: var(--color4);
    align-items: center;
}

#contacto .divcontact {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 10px;
    width: 100%;
}

#contacto h2 {
    color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
    color: var(--color3);
    font-family: 'Montserrat', sans-serif;
}

#iconcont1, #iconcont2, #iconcont3 {
    color: var(--color1);
    font-size: 24px;
}

#contacto .contact-icon , .form-contact{
    flex-basis: 49%;
    flex-grow: 1;
    width: 50%;
    list-style-type: none;
}

#contacto .contact-icon p {
    color: var(--color1);
}

#contacto .contact-icon > p {
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 0.5rem;
    align-items: stretch;
    padding: 10px;
    text-decoration: none;
}

#contacto .formulario {
    width: 100%;
    align-items: center;
    display: flex; 
    flex-direction: column; 
}

#contacto .formulario > input, #contacto .formulario > label {
    width: 50%;
    margin: .5rem 0;
    border-radius: 5px;
    padding: 3px;
    resize: none;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    background-color: transparent;
    color: var(--color1);
}

#contacto .formulario > input {
    border: 1pt solid var(--color1);
    background-color: var(--color2);
    color: var(--color1);
}

#contacto .formulario > button {
    min-width: 20%;
    line-height: 1.5rem;
    border-radius: 5px;
    background-color: var(--color1);
    color: var(--color2);
    cursor: pointer;
    border: 1pt solid;
}

#contacto .formulario > button:hover {
    background-color: var(--color8);
    color: var(--color2);
}


footer {
    background-color: var(--color1); 
    color: var(--color2); 
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

@media screen and (max-width: 576px) {
    section {
        gap: 2rem;
    }
    
    h1{
        width: 100%;
        text-align: center;
    }

    h3{
        width: 100%;
        font-size: 11px;
    }
    .menu a i{
        font-size: 24px;
        list-style-type: none;
    }
    nav{
        width: 100%;
    }
    li{
        font-size: 8px; 
    }

    #formacion .container-info h3{   
        font-size: 1.1em;
        text-align: center;
        font-weight: bold;
    }

    #formacion .container-info p{   
        font-size: 0.8em;
        text-align: center;
        font-weight: bold;
    }
    table{
        display: inline-block;
        font-size: 10px;
        width: 100%;
    }

    .content-table1{
        border-collapse: collapse; 
        margin: 0 auto; 
        font-size: 0.7em; 
        text-align: center; 
        width: 100%; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
    
    .content-table1 th, .content-table1 td { 
        padding: 10px 13px;
        text-align: center;
    }

    #iconcont1, #iconcont2 , #iconcont3{
        color:var(--color1);
        font-size:20px;
    }

    #contacto h2{
        font-size: 14px;
    }
    #contacto .contact-icon p{
        color: var(--color1);
        font-size: 12px;
    }
    .contact-form>input, 
    .contact-form>label{
        width: 100%;
    }
}
